@keyframes rotate {
    0%, 100% {
        transform: rotate(0);
    } 99.9% {
        transform: rotate(-360deg);
    }
}

.controls {
    position: fixed;
    background-color: rgb(152, 152, 168);
    #reset {
        border: .5vmin solid rgb(152, 152, 168);
        border-radius: 50%;
        background-color: #e0e0ee;
        width: 10.11vmin;
        height: 10.11vmin;
        font-size: 5.05vmin;
        position: relative;
        z-index: 2;
        &:hover {
            animation: rotate;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
        }
    }
    #timer {
        border: .5vmin solid rgb(152, 152, 168);
        border-radius: 5.05vmin;
        background-color: #e0e0ee;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-size: 3.37vmin;
    }
}

@media screen and (orientation: landscape) {
    .controls {
        top: 50vh;
        left: 0;
        width: 10.11vmin;
        height: 30.33vmin;
        transform: translateY(-50%);
        border-top-right-radius: 5.05vmin;
        border-bottom-right-radius: 5.05vmin;
        #timer {
            width: 10.11vmin;
            height: 30.33vmin;
            padding-top: 22.24vmin;
            text-align: center;
        }
    }
}
@media screen and (orientation: portrait) {
    .controls {
        top: 0;
        left: 50vw;
        width: 30.33vmin;
        height: 10.11vmin;
        transform: translateX(-50%);
        border-bottom-right-radius: 5.05vmin;
        border-bottom-left-radius: 5.05vmin;
        #timer {
            width: 30.33vmin;
            height: 10.11vmin;
            padding-right: 2.52vmin;
            padding-top: 2.52vmin;
            text-align: right;
        }
    }
}