#area {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2vmin black;
    .field {
        float: left;
        width: var(--field-size);
        height: var(--field-size);
        
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        background-attachment: fixed;
        color: transparent;
        border: .3vmin solid transparent;
        background-clip: content-box;

        transition: all .5s ease-out;
        transform-style: preserve-3d;
        position: relative;
        &::before, &::after {
            pointer-events: none;
            position: absolute;
            top: calc(var(--field-size) / 2);
            left: calc(var(--field-size) / 2);
            transform: translate(-53%, -52%);
        }
        &[data-turned='0'] {
            background-image: none;
            background-color: #000000;
            transform: rotateY(180deg);
        }
        &[data-flagged='1'] {
            background-color: transparent;
            &::before {
                color: initial;
                font-size: calc(60vmin / var(--num));
                content: '🚩';
            }
        }
        &::after {
            content: attr(data-nmines);
            font-size: var(--field-size);
        }
    }
}