
@import 'controls';
@import 'options';
@import 'grid';
:root {
    --background-color: rgb(46, 45, 45);
    --area-color: rgb(48, 48, 48);
    --field-size: calc(91vmin / var(--num));

    --num: 9;
}
* {
    box-sizing: border-box;
}
button, input {
    outline: none;
}

.disabled {
    pointer-events: none;
}

.hidden {
    display: none;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
    font-family: sans-serif;
    .container {
        width: 95vmin;
        height: 95vmin;
        margin: auto;
        border-radius: 2vmin;
        background-color: var(--area-color);
        box-shadow: 0 0 2vmin black inset;
        padding: 2vmin;
        #alert {
            position: absolute;
            z-index: 1;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            width: 60vmin;
            height: 60vmin;
            box-shadow: 0 0 10px black;
            border-radius: 2vmin;
            background-color: var(--area-color);
            color: white;
            font-size: 4vmin;
            text-align: center;
            span {
                position: relative;
                display: block;
                width: 60vmin;
                top: 30vmin;
                transform: translateY(-50%);
                pointer-events: none;
            }
            button#new-game {
                position: absolute;
                bottom: 2vmin;
                left: 22.5vmin;
                width: 15vmin;
                height: 5vmin;
                border-radius: 1vmin;
                border: none;
                &:hover {
                    border: 2px #808080 solid;
                }
            }
        }
        div#hud {
            width: 100%;
            height: 100%;
            // grid | options
        }
    }
}
